
body{
    margin: 0;
    padding: 0;
    background: var(--color-bg1);
}
#home{
    min-height: 800px;
}
nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    color: var(--color-white);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
nav a:not(:last-child){
    margin-right: 45px;
}
nav a:hover{
    border-bottom: 1px solid var(--color-red);
}

.social-midias {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    align-items: center;
    min-height: 500px;
    justify-content: center;
}
.title-right{
    min-width: 100px;
    min-height: 500px;
}
.home-content{
    display: flex;
    flex-direction: row;
    max-height: 250px;
    width: 100%;
    justify-content: space-between;
}
.social-midia-icon{
    color: var(--color-white);
    width: 25px;
    height: 25px;
    opacity: 70%;
    margin-bottom: 75px;
    cursor: pointer;
    transition: 150ms;
}
.social-midia-icon:hover{
    color: var(--color-red);
}
.title, .title-gradiant1, .title-gradiant2, .title-gradiant3, .title-gradiant4{
    font-family: var(--font-title);
    font-size: 200px;
    letter-spacing: 100px;
    position: relative;
    user-select: none;
    left: 40px;
}

.title,  .title-gradiant1,  .title-gradiant2,  .title-gradiant3,  .title-gradiant4{
   margin-bottom: -305px; 
}
.title{
    color: var(--color-white);
    z-index: 2;
}
.title-gradiant1,  .title-gradiant2{
    
    background: linear-gradient(to bottom, rgba(221, 218, 218, 0.2), rgba(221, 218, 218, 0.01) 50%);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}
.title-gradiant3,  .title-gradiant4{
    background: linear-gradient(to bottom, rgba(221, 218, 218, 0.01) 50%, rgba(221, 218, 218, 0.15) );
    background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}
.title-content-div{
    position: relative;
    pointer-events: none;
    bottom: 100%;
}
.title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-content a{
    background: var(--color-bg1);
    border: 2px solid var(--color-white);
    border-radius: 30px;
    letter-spacing: 5px;
    font-size: 13px;
    font-family: var(--font-text);
    z-index: 3;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    position: relative;
    max-width: 180px;
    cursor: pointer;
    top: 180%;
    text-decoration: none;
}
.title-content button{
    font-size: 13px;
    letter-spacing: 5px;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}
 
