#reviews{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 1100px;
    background-color: var(--color-bg1); 
}
.container-review{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box-review{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.review-dec-border{
    min-height: 237px;
    min-width: 447px;
    border: 2px solid var(--color-red);
    border-radius: 30px;
}
.review-dec-solid{
    min-height: 240px;
    min-width: 440px;
    background: var(--color-red);
    border-radius: 30px;
}

.review-content{
    height: 237px;
    min-width: 457px;
    border-radius: 30px;
    border: 2px solid gray;
    overflow: hidden;
    cursor: pointer;
    transition: 300ms;
}
.review-content:hover {
    transform: scale(1.06);
}
.help-box1{
    min-width: 300px;
    min-height: 240px;
    background: var(--color-red);
    border-radius: 30px;
}
.help-box2{
    min-width: 380px;
    min-height: 240px;
    background: var(--color-red);
    border-radius: 30px;
}
.help-box3{
    min-width: 150px;
    min-height: 240px; 
    background: var(--color-red);
    border-radius: 30px;
}
.perfil-content{
    min-height: 80px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.comment-review{
    display: flex;
    justify-content: center;
    height: 190px;
    position: relative;
}
.comment-review p{
    width: 400px;
    margin-top: 5px;
    word-break: keep-all;
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 12px;
}
.stars{
    display: flex;
    gap: 8px; 
}
.star{
    background: var(--color-red);
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.perfil{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-text);
}
.perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#reviews h1{
    font-family: var(--font-text);
    font-size: 20px;
    letter-spacing: 10px;
    color: var(--color-white);
    margin-bottom: 60px;
}
.transition-bg-text{
    height: 40px;
    min-width: 415px;
    background-image: linear-gradient(to bottom, transparent, var(--color-bg1) 70%);
    position:absolute;
    bottom: 20px;
}
.tb1{
    width: 300px;
    height: 1000px;
    position: absolute;
    background-image: linear-gradient(to right, var(--color-bg1) 40%, transparent);
    z-index: 2;
}
.tb2{
    width: 300px;
    height: 1000px;
    position: absolute;
    background-image: linear-gradient(to left, var(--color-bg1) 40%, transparent);
    align-self: flex-end;
}
.back-content, .next-content{
    display: flex;
    align-items: center;
}
.back-content{
    flex-direction: row-reverse;
}
.back-content svg{
    margin-right: 30px;
    color: var(--color-white);
    cursor: not-allowed;
}
.next-content svg{
    margin-left: 30px;
    float: left;
    color: var(--color-white);
    cursor: not-allowed;
}


    